.item-powerpuff-card {
  position: relative;
}

.item-powerpuff-container {
  position: absolute;
  left: -1em;
}

.item-powerpuff-stylizer {
  transform: scale(.3);
  width: calc(20em / 2);
}

.item-name {
  margin-top: 1em;
  font-size: 2em;
  text-transform: uppercase;
  font-family: monospace;
}
